@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    color: white;
}
:root{
    --poppins-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --box-shadow: 0 10px 20px #223c75a8;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #133ecc;
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: var(--poppins-font);
    text-align: center;
    background: rgb(37, 109, 233);
    width: auto;
    box-shadow: var(--box-shadow);
    align-items: center;
    margin-top: 10px;
    max-width: 100%;
}

@media only screen and (max-width: 375px){
    body{
        height: auto;
    }

    .container{
        transform: scale(0.9);
    }
}

input{
    width: 300px;
    height: 30px;
    border: 0;
    border-radius: 40px;
    outline: 0;
    padding: 10px 0 10px 0;
    font-family: var(--poppins-font);
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 30px;
}

input:focus{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

}

::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.76);
}

button{
    height: 50px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--poppins-font);
    background-color: rgb(95, 143, 233, 0.5);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

button:active{
    transform: scale(0.98);
}

button:hover{
    background-color:rgba(95, 143, 233, 0.418);
}

.temp{
    font-size: 50px;
    font-family: var(--roboto-font);
}

.city{
    margin: 20px;
    font-size: 20px;
    opacity: 0.71;
}

.title{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

img{
    width: 128px;
    height: 128px;
}

.desc{
    font-size: 20px;
    opacity: 0.5;

}

footer{
    font-family: var(--roboto-font);
}

a{
    cursor: pointer;
}